body {
    font-family: Arial, sans-serif;
    background-image: url('assets/hpbg1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
}

.content .icon img {
    width: 120px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.hidden {
    display: none;
}
